* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    background: white;
    user-select: none;
    -webkit-app-region: drag;
}

.app {
    padding: 16px;
}

.frame {}

.hotBar {}

.content {}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.windowButtons {
    display: flex;
    justify-content: flex-end;
}

#minimizeBtn {}

#closeBtn {}

#play {}

#backWindow {
    display: none;
}

.screen {
    display: none;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}