* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    background: transparent;
    user-select: none;
    -webkit-app-region: drag;

    background-image: url("assets/Orbodoro-StartUp.svg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.app {
    padding: 16px;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.windowButtons {
    display: flex;
    justify-content: flex-end;
}

#backWindow {
    display: none;
}

.timerScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.settingScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.menuScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.galleryScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.musicScreen {
    display: none;
    flex-direction: column;
    align-items: center;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}